/* Flexbox to prevent elements from wrapping */
nav .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; /* Prevent wrapping */
}

  /* Hide elements progressively as screen size decreases */
@media (max-width: 1024px) {
    nav form, nav ul {
      display: none; /* Hide search bar and menu links on smaller screens */
    }
}

  /* Smaller screens: only show the logo */
@media (max-width: 600px) {
    nav h1 {
      display: none; /* Hide the text logo, only show the image logo */
    }
}

.search-input {
    margin-right: 10px; /* Jarak kanan dari input */
}

.search-button {
    margin-left: 10px; /* Jarak kiri dari tombol search */
}
