{% extends 'base.html' %}

{% block title %}Edit Artikel - Angkringan Pedia{% endblock %}

{% block content %}
  <div class="container mx-auto py-8">
    <h1 class="text-3xl font-bold mb-4">Edit Artikel</h1>
    <form method="POST" enctype="multipart/form-data" class="space-y-4">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">Simpan Perubahan</button>
    </form>
    <a href="{% url 'artikel:show_article_detail' artikel.id %}" class="text-blue-600 hover:underline mt-4 block">Kembali ke Detail Artikel</a>
  </div>
{% endblock %}
