{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Angkringan Pedia{% endblock title %}</title>

    <!-- Link Tailwind CSS from a static file or a CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    {% block meta %}
    <meta charset="UTF-8" />
    <link rel="icon" href="{% static 'image/logo2.png' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock meta %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/global.css' %}"/>
  </head>

  <body class="bg-[#F0FFF0] text-[#2F4F4F] min-h-screen flex flex-col">

    <!-- Main Content -->
    <main class="flex-grow">
      {% block content %} {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="bg-[#556B2F] py-6 text-center text-[#8FBC8F] mt-auto">
      <div class="container mx-auto flex flex-col items-center">
        <p class="text-sm text-[#F0FFF0]">&copy; 2024 Angkringan Pedia. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
