{% extends 'base.html' %}

{% block meta %}
<title>Register</title>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
{% endblock meta %}

{% block content %}
    <div class="register">
    <h1>Register</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        
        <label>
        <input type="checkbox" name="is_admin"> Register as Admin
        </label>
        
        <button type="submit">Register</button>
    </form>
    </div>
{% endblock content %}
